extends ../../layouts/default 
include ../../mixins/box-head
include ../../mixins/moment
block main
  div(
    class="alert alert-success alert-hidden"
    alert-add-cart-success
  ) Đã thêm tour vào giỏ hàng! <span close-alert>X</span>
  .tour-detail
    .container.my-3
      .row 
        .col-12 
            +box-head(pageTitle)
      .row
        .col-6
          .swiper.mySwiper2(style='--swiper-navigation-color: #fff; --swiper-pagination-color: #fff')
            .swiper-wrapper
              each img in tourDetail.images
                .swiper-slide
                  img(src=img, alt="")
            .swiper-button-next
            .swiper-button-prev
          .swiper.mySwiper(thumbsslider='')
            .swiper-wrapper
               each img in tourDetail.images 
                .swiper-slide
                  img(src=img, alt="")

        .col-6
          .inner-title #{tourDetail.title}
          .inner-barcode
            <i class="fa-solid fa-barcode"></i> Mã tour: #{tourDetail.code} 
          .inner-time-start
            <i class="fa-solid fa-calendar-days"></i> Lịch khởi hành: 
            +formatDatetime(tourDetail.timeStart)
          .inner-stock
            <i class="fa-solid fa-person-walking-luggage"></i> Còn lại: #{tourDetail.stock} chỗ
          .inner-price-special #{tourDetail.price_special .toLocaleString()}đ
          .inner-price #{tourDetail.price.toLocaleString()}đ
          .inner-percent Giảm tới #{tourDetail.discount}%
          form(
            form-add-to-cart
            tour-id=tourDetail.id
          )
            input(
              class="form-control mb-2"
              type="number"
              name="quantity"
              value="1"
              min="1"
              max=tourDetail.stock
            )
            button(
              type="submit"
              class="btn btn-success btn-block"
            ) Thêm vào giỏ hàng
          
      .row
        .col-12
          .inner-infomation
            .inner-label Thông tin tour
            .inner-text
              | !{tourDetail.information}
        
        .col-12
          .inner-infomation
            .inner-label Lịch trình tour
            .inner-text
              | !{tourDetail.schedule}
    